<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render'layouts/headtag'%>
    <%= render'layouts/shim'%>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render'layouts/header'%>
      <%= yield %>
      <%= render'layouts/footer'%>
    </div>
    <%= render'layouts/login_modal'%>
    <%= render'layouts/signup_modal'%>
  </body>
</html>
